.PageConnection {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(178, 223, 219, 0) 0%, #B2DFDB 100%),
              linear-gradient(180deg, rgba(17.36, 126.23, 113.63, 0.78) 0%, rgba(31.91, 118.09, 108.12, 0.78) 0%, rgba(0.15, 121.04, 107.06, 0.37) 100%, rgba(0, 121, 107, 0.49) 100%);
}




.Line1, .Line2 {
  width: 3px;
  height: 100%;
  position: absolute;
  background: #BDBDBD;
}

.Line1 {
  top: 0;
  left: 150px; 
}

.Line2 {
  bottom: 0;
  left: 150px; 
}

.EmailIcon, .PasswordIcon {
  width: 64px;
  height: 40px; 
}

.EmailIcon {
  margin-left: 10px; 
}

.PasswordIcon {
  margin-left: 10px;
}


.ConnexionButton {
  margin-left: 110px;
}

.InscriptionButton {
  margin-top: 20px;
}
