.HistoriqueAnnuel {
    width: 1288px;
    height: 800px;
    left: 76px;
    top: 176px;
    position: absolute;
}

.Background {
    width: 1288px;
    height: 800px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: rgba(255, 255, 255, 0.60);
    border: 6px #BDBDBD solid;
}

.HistoriqueAnnuel {
    width: 714.03px;
    height: 116.42px;
    left: 287.33px;
    top: 30px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 40px;
    font-family: Jaldi;
    font-weight: 400;
    word-wrap: break-word;
}

.Arrow {
    width: 100px;
    height: 100px;
    left: 50px;
    top: 30px;
    position: absolute;
}

.Array {
    width: 784px;
    height: 230.11px;
    left: 287px;
    top: 221px;
    position: absolute;
}

.Ex1covoitureur,
.Ex1annee {
    width: 360px;
    height: 80px;
    top: 52px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 32px;
    font-family: Jaldi;
    font-weight: 400;
    border: 3px #BDBDBD solid;
    background: white;
}

.Ex1covoitureur {
    left: 383px;
}

.Ex1annee {
    width: 380px;
}


.Covoitureurs {
    width: 360px;
    height: 80px;
    left: 383px;
    top: -26px;
    position: absolute;
    background: #EDEDED;
    border: 3px #BDBDBD solid;
    text-align: center;
    color: black;
    font-size: 32px;
    font-family: Jaldi;
    font-weight: 400;
    word-wrap: break-word;
}

.DateText {
    width: 380px;
    height: 80px;
    left: 0px;
    top: -26px;
    position: relative;
    background: #EDEDED;
    border: 3px #BDBDBD solid;
    color: black;
    font-size: 32px;
    font-family: Jaldi;
    font-weight: 400;
    word-wrap: break-word;
    text-align: center;
}

.Filter {
    width: 30.75px;
    height: 28.67px;
    left: -370px;
    top: -140px;
    position: relative;
}

.HeaderLoggedIn {
    width: 1440px;
    height: 112px;
    padding-top: 11px;
    padding-bottom: 11px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #B2DFDB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
  }
  
  .UserButton {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    width: 74px;
    height: 74px;
    left: 1342px;
    top: 20px;
    position: absolute;
  }
  
  .PrenomNom {
    left: 984px;
    top: 20px;
    position: absolute;
    color: #212121;
    font-size: 32px;
    font-family: Jaldi;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .CovoitButton {
    border: none;
    background: none;
    cursor: pointer;
    width: 234px;
    color: black;
    font-size: 28px;
    font-family: Kaushan Script;
    left: 20px;
    top: -15px;
    position: absolute;
  }
  
  .FriendsButton {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    width: 74px;
    height: 78px;
    left: 1233px;
    top: 18px;
    position: absolute;
  }