.AnnualHistory {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--Dgrad, linear-gradient(180deg, rgba(17, 126, 114, 0.78) 0%, rgba(32, 118, 108, 0.78) 0.01%, rgba(0, 121, 107, 0.37) 99.99%, rgba(0, 121, 107, 0.49) 100%), linear-gradient(180deg, ));
  }
  
  .Background {
    width: 80%;
    max-width: 1288px;
    height: auto;
    flex-shrink: 0;
    border: 6px solid var(--DIVIDER, #BDBDBD);
    background: rgba(255, 255, 255, 0.60);
}

.TitleContainer {
    display: flex;
    margin-left: -280px;
}

.histotext {
    flex: 1; 
    margin-top: 10px;
    text-align: center;
    color: black;
    font-size: 40px;
    font-family: Jaldi;
    margin-left: 200px;
}


.Array {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.arrayheader,
.Ligne1 {
    display: flex;
    width: 100%;
}

.Date,
.Covoits {
    width: calc(50%); 
    display: flex;
    align-items: center;
}

.DateText,
.Covoitureurs {
    width: 100%; 
    text-align: center;
    color: black;
    font-size: 28px;
    font-family: Jaldi;
    border: 3px #BDBDBD solid;
    background: #EDEDED;
    margin-top: 10px;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.DateText {
    margin-left: -50px;
}

.Filter {
    width: 30px;
    height: 30px;
    z-index: 2;
    margin: auto;
    margin-top: 12px;
}

.text {
    color: black;
    font-size: 25px;
    font-family: Jaldi;
    padding: 20px;
    border: 3px #BDBDBD solid;
    background: white;
    text-align: center;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}