.HomePage {
  width: 1440px;
  height: 2370px;
  position: relative;
  background: linear-gradient(180deg, rgba(178, 223, 219, 0) 0%, #B2DFDB 100%), linear-gradient(180deg, rgba(17, 126, 113, 0.78) 0%, rgba(31, 118, 108, 0.78) 0%, rgba(0, 121, 107, 0.37) 100%, rgba(0, 121, 107, 0.49) 100%);
}

.Lundi {
  width: 998px;
  height: 368.26px;
  left: 244px;
  top: 253px;
  position: absolute;
}

.LundiConcordance {
  width: 946px;
  height: 314.26px;
  left: 52px;
  top: 54px;
  position: absolute;
}

.Rectanglelundi {
  width: 946px;
  height: 314px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: rgba(255, 255, 255, 0.40);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 6px #bdbdbd solid;
}

.Ami2row {
  width: 801.27px;
  height: 76.26px;
  left: 21.73px;
  top: 238px;
  position: absolute;
}

.RequestButton1, .RequestButton2 {
  border: none;
  background: none;
  cursor: pointer;
  width: 45px;
  height: 45px;
  position: absolute;
  left: 740px;
}

.requesticon1, .requesticon2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 10px;
}

.Ami2 {
  width: 211.45px;
  height: 76.26px;
  left: 0px;
  top: -15px;
  position: absolute;
  color: #212121;
  font-size: 32px;
  font-family: Jaldi;
  font-weight: 400;
  word-wrap: break-word;
}

.Rectangle7, .Rectangle6, .Rectangle4 {
  border-radius: 10px;
  border: 3px #41b04c solid;
  position: absolute;
}

.Rectangle7 {
  width: 299.03px;
  height: 56px;
  left: 135.54px;
  background: rgba(35.93, 188.28, 51.16, 0.50);
}

.Rectangle6 {
  width: 610.73px;
  height: 56px;
  left: 133.48px;
  top: 8.47px;
  background: rgba(32.84, 37.79, 33.33, 0.50);
}

.Rectangle4 {
  width: 497.69px;
  height: 56.49px;
  left: 243.15px;
  top: 1px;
  background: rgba(35.93, 188.28, 51.16, 0.50);
}

.Moi {
  width: 55px;
  height: 76px;
  left: 0px;
  top: -10px;
  position: absolute;
  color: #212121;
  font-size: 32px;
  font-family: Jaldi;
  font-weight: 400;
  word-wrap: break-word;
}


.debutlundi {
  width: 66.36px;
  height: 59.32px;
  left: 707px;
  top: 25px;
  position: absolute;
  color: #212121;
  font-size: 25px;
  font-family: Jaldi;
  font-weight: 400;
  word-wrap: break-word;
}

.finlundi {
  width: 53.99px;
  height: 59.32px;
  left: 146px;
  top: 25px;
  position: absolute;
  color: #212121;
  font-size: 25px;
  font-family: Jaldi;
  font-weight: 400;
  word-wrap: break-word;
}

.Moirow {
  width: 744.21px;
  height: 76px;
  left: 21.73px;
  top: 94.15px;
  position: absolute;
}

.AddUserButton {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  left: 878px;
  top: 14px;
}

.addusericon {
  width: 56px;
  height: 47px;
}

.Ami1row {
  width: 802.27px;
  height: 76.26px;
  left: 21.73px;
  top: 170px;
  position: absolute;
}

.Ami1 {
  width: 211.45px;
  height: 76.26px;
  left: 0px;
  top: -15px;
  position: absolute;
  color: #212121;
  font-size: 32px;
  font-family: Jaldi;
  font-weight: 400;
  word-wrap: break-word;
}

.DayLabel {
  width: 218px;
  height: 78.05px;
  position: absolute;
  background: #d9d9d9;
  border-radius: 20px;
}

.lundilabel {
  width: 178.74px;
  height: 26.23px;
  left: 19.63px;
  top:0px;
  position: absolute;
  text-align: center;
  color: black;
  font-size: 32px;
  font-family: Jaldi;
  font-weight: 400;
  word-wrap: break-word;
}

.RefreshButton,
.CalendarButton {
    border: none;
    background: none;
    cursor: pointer;
}

.RefreshButton {
    width: 69px;
    height: 62px;
    left: 149px;
    top: 149px;
    position: absolute;
}

.CalendarButton {
    width: 87px;
    height: 65px;
    left: 45px;
    top: 143px;
    position: absolute;
}

.Semaine {
    width: 500px;
    left: 575px;
    top: 140px;
    position: absolute;
    color: #4C3030;
    font-size: 32px;
    font-family: Jaldi;
    font-weight: 400;
    word-wrap: break-word;
}

.HeaderLoggedIn {
  width: 1440px;
  height: 112px;
  padding-top: 11px;
  padding-bottom: 11px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #B2DFDB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
}

.UserButton {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  width: 74px;
  height: 74px;
  left: 1342px;
  top: 20px;
  position: absolute;
}

.PrenomNom {
  left: 984px;
  top: 20px;
  position: absolute;
  color: #212121;
  font-size: 32px;
  font-family: Jaldi;
  font-weight: 400;
  word-wrap: break-word;
}

.CovoitButton {
  border: none;
  background: none;
  cursor: pointer;
  width: 234px;
  color: black;
  font-size: 28px;
  font-family: Kaushan Script;
  left: 20px;
  top: -15px;
  position: absolute;
}

.FriendsButton {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  width: 74px;
  height: 78px;
  left: 1233px;
  top: 18px;
  position: absolute;
}