/* Style for the popup */
/*.popupContainer {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}*/


.ValidationPopUp,
.RequestPopUp{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
align-items: center; 
width: 450px;
border-radius: 10px;
border: 6px solid var(--DIVIDER, #BDBDBD);
background: var(--MAIN-Light, #B2DFDB);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.modifs{
width: 400px;
color: #000;
text-align: center;
font-family: Jaldi;
font-size: 30px;
font-weight: 400;
margin-bottom: 20px;
}

.Rectangle {
    width: 210px;
    border-radius: 10px;
    border: 3px solid var(--MAIN, #00796B);
    background: var(--MAIN-Dark, #009688);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: Jaldi;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    cursor: pointer; 
    margin-bottom: 10px;
    margin-top: 15px;
}

.Informations{
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
}

.text{
color: #000;
font-family: Jaldi;
font-size: 24px;
font-weight: 400;
}

