.ValidationPopUp,
.RequestPopUp{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
align-items: center; 
width: 450px;
border-radius: 10px;
border: 6px solid var(--DIVIDER, #BDBDBD);
background: var(--MAIN-Light, #B2DFDB);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
margin-bottom: 100px;
margin-top: 40px;
}

.modifs{
width: 400px;
color: #000;
text-align: center;
font-family: Jaldi;
font-size: 30px;
font-weight: 400;
margin-bottom: 20px;
}

.Rectangle {
    width: 210px;
    border-radius: 10px;
    border: 3px solid var(--MAIN, #00796B);
    background: var(--MAIN-Dark, #009688);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: Jaldi;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    cursor: pointer; 
    margin-bottom: 10px;
    margin-top: 15px;
}

.Informations{
flex-shrink: 0;
display: flex;
flex-direction: column;
align-items: flex-start;
}

.text{
color: #000;
font-family: Jaldi;
font-size: 24px;
font-weight: 400;
}

.TitleContainer {
    display: flex;
}

.arrow{
    height: 64px;
    width: 64px;
    margin-top: 10px;
    margin-right: 10px;
}


/*.RequestPopUp .overlay{
position:fixed;
top: 0px;
left: 0px;
width: 100vw;
height: 100vh;
background: rgba(0, 0, 0, 0.7);
z-index:1;
display: none;
}

.RequestPopUp .content{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%) scale(0);
background:#fff;
width: 450px;
height:220px;
z-index:2;
text-align: center;
padding: 2Opx;
box-sizing: border-box;
}

.RequestPopUp.active .overlay{
display: block;
}
.RequestPopUp.active .content{
    transition: all 300ms ease-in-out;
    transform: translate(-50%,-50%) scale(1);
}
*/