.flex-init-setup {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex-ppal-setup {
  -webkit-flex-flow: column wrap;
  -moz-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 40%;
 /* min-height: 100px; */
  
  background: #B2DFDB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header > h2,
header > input[type=image] {
  margin-left: auto;
}

body {
  width: auto;
  height: 100%;

  margin: 0;
  background: linear-gradient(180deg, rgba(178, 223, 219, 0) 0%, #B2DFDB 100%), 
              linear-gradient(180deg, rgba(17, 126, 113, 0.78) 0%, rgba(31, 118, 108, 0.78) 0%, rgba(0, 121, 107, 0.37) 100%, rgba(0, 121, 107, 0.49) 100%);
}

input[type=image] {
  min-width: 50px;
  max-width: 90px;

  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
}

input[type=date] {
  min-width: 120px;
  min-height: 50px;

  margin-left: 15px;
  margin-right: 15px;
}

.CovoitButton {
  font-size: 28px;
  font-family: Kaushan Script;
  font-weight: bold;

  width: fit-content;
  margin: 0;
  cursor: pointer;
  background: none;
  color: black;
  border: none;
}

.Align_left_center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

ul {
  list-style-type: none; /* Remove bullets */
  padding-left: 2%;
}

h1,
h2 {
  font-family: Jaldi;
  font-weight: 400;
  word-wrap: break-word;
  color: #212121;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 25px;
}

.Semaine {
  flex: 1;
  text-align: center;
  padding-right: 20%;

  color: #4C3030;
  
  margin-left: 15px;
  margin-right: 15px;
}

.DayLabel {

  max-width: fit-content;
  text-align: center;

  background: #d9d9d9;
  border-radius: 20px;

  padding : 1rem;
  margin-bottom: -2%;
}

.DayRectangle
{
  margin-left: 2%;
  margin-right: 2%;
  height: auto;

  z-index: 1;

  background: rgba(255, 255, 255, 0.40);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 6px #bdbdbd solid;
}

.Time {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 20%;  
  padding-right: 20%;
}

.AddUserButton {
  position: absolute;
  right: 4%;
  top:22%;
}

.UserRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 5%;
}

.DayTimeRectangle {
  flex: 1;
  margin-left: 5%;
  margin-right: 5%;

  min-height: 35px;

  border-radius: 10px;
  border: 3px #41b04c solid;
  background: rgba(32.84, 37.79, 33.33, 0.50);
}

.RequestCarpoolingIcon {
  padding-right: 2%;
}



/*

.RefreshButton,
.CalendarButton {
    border: none;
    background: none;
    cursor: pointer;
}

/*