.flex-init-setup {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex-ppal-setup {
  -webkit-flex-flow: column wrap;
  -moz-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
 /* padding-left: 40%;*/
 /* min-height: 100px; */
  
  background: #B2DFDB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header > h2,
header > input[type=image] {
  margin-left: auto;
}

body {
  width: auto;
  height: 100%;

  margin: 0;
  background: linear-gradient(180deg, rgba(178, 223, 219, 0) 0%, #B2DFDB 100%), 
              linear-gradient(180deg, rgba(17, 126, 113, 0.78) 0%, rgba(31, 118, 108, 0.78) 0%, rgba(0, 121, 107, 0.37) 100%, rgba(0, 121, 107, 0.49) 100%);
}

body > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  
  width: fit-content;
  min-width: 50%;
  height: fit-content;
  padding: 20px;

  background-color: rgba(255, 255, 255, 0.60);
  border: 6px #BDBDBD solid;
}

img {
  width: 20%;
  margin-left: 3%;
  margin-right: 3%;
  min-width: 50px;
}

form {
  display : flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input[type=image] {
  min-width: 50px;
  max-width: 90px;

  margin-left: 15px;
  margin-right: 1%;

  cursor: pointer;
}

input[type=date] {
  min-width: 120px;
  min-height: 50px;

  margin-left: 15px;
  margin-right: 15px;
}

input[type=email],
input[type=password],
input[type=text] 
{
  color: #757575;
  font-size: 24px;
  border: none;
  border-left: 3px #BDBDBD solid;
  background: #EDEDED;  

  height: 70px;
  padding: 0px;
  padding-left: 2%;
  margin-right: 2%;

}

button {
  width: fit-content;

  background: #009688;  
  border: 3px #00796B solid;
  border-radius: 10px;

  font-size: 28px;
  font-family: Jaldi;
  text-align: center;
  color: white;
  padding: 5%;

  margin: 5%;

  cursor: pointer;
}

.CovoitLogoButton {
  font-size: 28px;
  font-family: Kaushan Script;
  font-weight: bold;

  margin: 0;
  padding: 0;

  width: fit-content;
  height: fit-content;

  cursor: pointer;
  background: none;
  color: black;
  border: none;
}

.Align_left_center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

ul {
  list-style-type: none; /* Remove bullets */
  padding-left: 2%;
}

h3,
h1,
h2,
p,
input[type=text] {
  font-family: Jaldi;
  font-weight: 400;
  word-wrap: break-word;
  color: #212121;
  padding-left: 2%;
  text-align: center;
}

h3 {
  font-size: 44px;
  text-transform: uppercase;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 25px;
}

p {
  font-size: 30px;
  margin: 0;
}

.Semaine {
  flex: 1;
  text-align: center;
  padding-right: 20%;

  color: #4C3030;
  
  margin-left: 15px;
  margin-right: 15px;
}

.DayLabel {

  max-width: fit-content;
  text-align: center;
  z-index: 2;
  background: white;
  border-radius: 20px;
  padding : 1rem;
  margin-bottom: -2%;
}

.DayRectangle
{
  margin-left: 2%;
  margin-right: 2%;
  height: auto;

  z-index: 0;

  background: rgba(255, 255, 255, 0.40);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 6px #bdbdbd solid;
}

.Time {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 20%;  
  padding-right: 20%;
}

.AddUserButton {
  position: absolute;
  right: 4%;
  top:22%;
}

.UserRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 5%;
}

.DayTimeRectangle {
  flex: 1;
  margin-left: 5%;
  margin-right: 5%;

  min-height: 35px;

  border-radius: 10px;
  border: 3px #41b04c solid;
  background: rgba(32.84, 37.79, 33.33, 0.50);
}

.RequestCarpoolingIcon {
  padding-right: 2%;
}

.PageFriends {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-around;
}

form > div,
.Form_image_end {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  padding-left: 2%;
  padding-right: 2%;

  border: 3px #BDBDBD solid;
  background: #EDEDED;
  border-radius: 10px;

  width: 100%;
  height: 70px;

}

.Form_image_end > input[type=image] {
  margin-left: 0;
  padding: 1%;

 /* border: 3px #BDBDBD solid;
  background: #EDEDED;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;*/
  border-left: none;

}

.Form_image_end > input[type=text]
{
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0px;
}

.Text_image_end,
.Text_image_end_bck {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-top:5%;
  margin-right: 1%;

  padding-right: 1%;
  padding-top: 1%;
}

.Text_image_end_bck {
  border: 3px #BDBDBD solid;
  background: #EDEDED;
  border-radius: 10px;
}

.Arrow_back {
  position: absolute;
  margin-left: 0;

}


/*******************************************************************/

/*

.RefreshButton,
.CalendarButton {
    border: none;
    background: none;
    cursor: pointer;
}

/*