<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Historique</title>
        <link rel="stylesheet" href="../css/historiquepage.css" />
    </head>
    <body>
        <div class="AnnualHistory" style="width: 1440px; height: 1024px; position: relative; background: linear-gradient(180deg, rgba(178, 223, 219, 0) 0%, #B2DFDB 100%), linear-gradient(180deg, rgba(17.36, 126.23, 113.63, 0.78) 0%, rgba(31.91, 118.09, 108.12, 0.78) 0%, rgba(0.15, 121.04, 107.06, 0.37) 100%, rgba(0, 121, 107, 0.49) 100%)">
            <div class="HistoriqueAnnuel" style="width: 1288px; height: 800px; left: 76px; top: 176px; position: absolute">
              <div class="Background" style="width: 1288px; height: 800px; left: 0px; top: 0px; position: absolute; background: rgba(255, 255, 255, 0.60); border: 6px #BDBDBD solid"></div>
              
              <div class="Array" style="width: 784px; height: 230.11px; left: 287px; top: 221px; position: absolute">
              
                <div class="Line1" style="width: 700px; height: 80px; left: 0px; top: 71.48px; position: absolute">
                  <div class="Ex1covoitureur" style="width: 380px; height: 80px; left: 364px; top: 0px; position: absolute; background: white; border: 3px #BDBDBD solid">
                    <p class="PrenomNom1" style="width: 380px; height: 52.88px; left: -0px; top: -10px; position: absolute; text-align: center; color: black; font-size: 32px; font-family: Jaldi; font-weight: 400; word-wrap: break-word">Prénom NOM</p>
                  </div>
                  <div class="Ex1annee" style="width: 380px; height: 80px; left: -0px; top: 4.90px; position: absolute; background: white; border: 3px #BDBDBD solid">
                    <p class="date1" style="width: 211px; height: 52.88px; left: 84.21px; top: -10px; position: absolute; text-align: center; color: black; font-size: 32px; font-family: Jaldi; font-weight: 400; word-wrap: break-word">26 Mars 2024</p>
                  </div>
                </div>

                <div class="Line2" style="width: 700px; height: 80px; left: 0px; top: 150.80px; position: absolute">
                  <div class="Ex2covoitureur" style="width: 380px; height: 79.31px; left: 364px; top: 0px; position: absolute; background: white; border: 3px #BDBDBD solid">
                    <p class="PrenomNom2" style="width: 380px; height: 52.88px; left: -0px; top: -10px; position: absolute; text-align: center; color: black; font-size: 32px; font-family: Jaldi; font-weight: 400; word-wrap: break-word">Prénom NOM</p>
                  </div>
                  <div class="Ex2annee" style="width: 380px; height: 79.31px; left: 0px; top: 0px; position: absolute; background: white; border: 3px #BDBDBD solid">
                    <p class="date2" style="width: 211px; height: 52.88px; left: 84.21px; top: -10px; position: absolute; text-align: center; color: black; font-size: 32px; font-family: Jaldi; font-weight: 400; word-wrap: break-word">27 Mars 2024</p>
                  </div>          
                </div>

                  <div class="Covoitureurs" style="width: 380px; height: 79.31px; left: 364px; top: 0px; position: absolute; background: #EDEDED; border: 3px #BDBDBD solid">
                    <h2 class="CovoitureursText" style="width: 345.24px; height: 52.88px; left: 39.58px; top: -10px; position: absolute; text-align: center; color: black; font-size: 32px; font-family: Jaldi; font-weight: 400; word-wrap: break-word">Covoitureurs</h2>
                  </div>
                  <div class="Date" style="width: 380px; height: 79.31px; left: 0px; top: 0px; position: absolute; background: #EDEDED; border: 3px #BDBDBD solid">
                    <h2 class="DateText" style="width: 168.14px; height: 52.88px; left: 143.05px; top: -10px; position: absolute; color: black; font-size: 32px; font-family: Jaldi; font-weight: 400; word-wrap: break-word">Date</h2>
                    <img class="Filter" style="width: 30.75px; height: 28.67px; left: 5.12px; top: 20px; position: absolute" src="../images/filter.svg">
                 </div>
              </div>
              <h1 class="HistoriqueAnnuel" style="width: 714.03px; height: 116.42px; left: 287.33px; top: 30px; position: absolute; text-align: center; color: black; font-size: 40px; font-family: Jaldi; font-weight: 400; word-wrap: break-word">Historique annuel</h1>
              <img class="Arrow" style="width: 100px; height: 100px; left: 50px; top: 30px; position: absolute" src="../images/arrow.svg"></img>
            </div>
        </div>
        <header class="HeaderLoggedIn" style="width:1440px; height: 112px; padding-left: 32px; padding-right: 32px; padding-top: 11px; padding-bottom: 11px; left: 0px; top: 0px; position: absolute; background: #B2DFDB; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
          <img class="User" style="width: 74px; height: 74px; left: 1342px; top: 20px; position: absolute;" src="../images/profileuser.svg" />
          <h2 class="PrenomNom" style="left: 984px; top: 20px; position: absolute; color: #212121; font-size: 32px; font-family: Jaldi; font-weight: 400; word-wrap: break-word">Prénom NOM</h2>            
          <h2 class="CovoitUnistra" style="width: 234px; height: 102px; color: black; font-size: 38px; font-family: Kaushan Script; font-weight: 400; word-wrap: break-word; left: 20px; top: -5px; position: absolute;">COVOIT’ UNISTRA</h2>
          <img class="Friends" src="../images/friends.svg" style="width: 74px; height: 78px; left: 1233px; top: 18px; position: absolute;">
      </header>

    </body>
</html>
