<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
        <link rel="stylesheet" href="globals.css" />
        <link rel="stylesheet" href="../css/styleguide.css" />
        <link rel="stylesheet" href="../css/homepage.css" />
      </head>
  <body>
    <div class="page-home">
      <div class="div">
        <img class="refresh" src="../images/refresh.svg" />
        <img class="calendar" src="../images/calendar.svg" />
        <div class="lundi">
          <div class="overlap">
            <div class="overlap-wrapper">
              <div class="overlap-group">
                <div class="demande">
                  <div class="div-wrapper"><div class="text-wrapper">Demande de Covoiturage</div></div>
                </div>
                <div class="overlap-2">
                  <div class="overlap-3">
                    <div class="text-wrapper-2">Ami2</div>
                    <div class="rectangle"></div>
                    <div class="text-wrapper-3">Moi</div>
                    <div class="text-wrapper-4">Ami1</div>
                  </div>
                  <div class="overlap-4">
                    <div class="text-wrapper-5">17h30</div>
                    <div class="text-wrapper-6">8h30</div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="rectangle-3"></div>
                </div>
                <div class="overlap-group-wrapper">
                  <div class="div-wrapper"><div class="text-wrapper">Demande de Covoiturage</div></div>
                </div>
                <img class="img" src="../images/adduser.svg" />
              </div>
            </div>
            <div class="overlap-wrapper-2">
              <div class="overlap-5"><div class="text-wrapper-7">LUNDI</div></div>
            </div>
          </div>
        </div>
        <div class="mercredi">
          <div class="overlap">
            <div class="overlap-wrapper">
              <div class="overlap-group">
                <div class="demande">
                  <div class="div-wrapper"><div class="text-wrapper">Demande de Covoiturage</div></div>
                </div>
                <div class="overlap-2">
                  <div class="overlap-3">
                    <div class="text-wrapper-2">Ami2</div>
                    <div class="rectangle"></div>
                    <div class="text-wrapper-3">Moi</div>
                    <div class="text-wrapper-4">Ami1</div>
                  </div>
                  <div class="overlap-4">
                    <div class="text-wrapper-5">17h30</div>
                    <div class="text-wrapper-6">8h30</div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="rectangle-3"></div>
                </div>
                <div class="overlap-group-wrapper">
                  <div class="div-wrapper"><div class="text-wrapper">Demande de Covoiturage</div></div>
                </div>
                <img class="img" src="../images/adduser.svg" />
              </div>
            </div>
            <div class="overlap-wrapper-2">
              <div class="overlap-6"><div class="text-wrapper-7">MERCREDI</div></div>
            </div>
          </div>
        </div>
        <div class="jeudi">
          <div class="overlap">
            <div class="overlap-wrapper">
              <div class="overlap-group">
                <div class="demande">
                  <div class="div-wrapper"><div class="text-wrapper">Demande de Covoiturage</div></div>
                </div>
                <div class="overlap-2">
                  <div class="overlap-3">
                    <div class="text-wrapper-2">Ami2</div>
                    <div class="rectangle"></div>
                    <div class="text-wrapper-3">Moi</div>
                    <div class="text-wrapper-4">Ami1</div>
                  </div>
                  <div class="overlap-4">
                    <div class="text-wrapper-5">17h30</div>
                    <div class="text-wrapper-6">8h30</div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="rectangle-3"></div>
                </div>
                <div class="overlap-group-wrapper">
                  <div class="div-wrapper"><div class="text-wrapper">Demande de Covoiturage</div></div>
                </div>
                <img class="img" src="../images/adduser.svg" />
              </div>
            </div>
            <div class="overlap-wrapper-2">
              <div class="overlap-7"><div class="text-wrapper-7">JEUDI</div></div>
            </div>
          </div>
        </div>
        <div class="vendredi">
          <div class="overlap">
            <div class="overlap-wrapper">
              <div class="overlap-group">
                <div class="demande">
                  <div class="div-wrapper"><div class="text-wrapper">Demande de Covoiturage</div></div>
                </div>
                <div class="overlap-2">
                  <div class="overlap-3">
                    <div class="text-wrapper-2">Ami2</div>
                    <div class="rectangle"></div>
                    <div class="text-wrapper-3">Moi</div>
                    <div class="text-wrapper-4">Ami1</div>
                  </div>
                  <div class="overlap-4">
                    <div class="text-wrapper-5">17h30</div>
                    <div class="text-wrapper-6">8h30</div>
                    <div class="rectangle-2"></div>
                  </div>
                  <div class="rectangle-3"></div>
                </div>
                <div class="overlap-group-wrapper">
                  <div class="div-wrapper"><div class="text-wrapper">Demande de Covoiturage</div></div>
                </div>
                <img class="img" src="../images/adduser.svg" />
              </div>
            </div>
            <div class="overlap-wrapper-2">
              <div class="overlap-8"><div class="text-wrapper-7">VENDREDI</div></div>
            </div>
          </div>
        </div>
        <div class="mardi">
          <div class="overlap-9">
            <div class="mardi-concordance">
              <div class="overlap-10">
                <img class="img" src="../images/adduser.svg" />
                <div class="demande">
                  <div class="div-wrapper"><div class="text-wrapper-8">Demande de Covoiturage</div></div>
                </div>
                <div class="overlap-11">
                  <div class="overlap-12">
                    <div class="overlap-13">
                      <div class="text-wrapper-2">Ami2</div>
                      <div class="rectangle-4"></div>
                      <div class="text-wrapper-3">Moi</div>
                      <div class="text-wrapper-9">Ami1</div>
                    </div>
                    <div class="overlap-14">
                      <div class="text-wrapper-6">8h30</div>
                      <div class="rectangle-5"></div></div>
                    </div>
                    <div class="rectangle-6"></div>
                  </div>
                  <div class="text-wrapper-10">17h30</div>
                </div>
                <div class="overlap-group-wrapper">
                  <div class="div-wrapper"><div class="text-wrapper-8">Demande de Covoiturage</div></div>
                </div>
              </div>
            </div>
            <div class="overlap-wrapper-2">
              <div class="overlap-15"><div class="text-wrapper-7">MARDI</div></div>
            </div>
          </div>
        </div>
        <div class="header-logged-in">
          <div class="text-wrapper-11">Prénom NOM</div>
          <div class="text-wrapper-12">COVOIT’ UNISTRA</div>
          <img class="friends-svg" src="../images/friends.svg" />
          <img class="userprofile-svg" src="../images/profileuser.svg" />
        </div>
      </div>
    </div>
  </body>
</html>
