<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp Page</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <div class="PageNewAccount" style="width: 1440px; height: 1206px; position: relative; background: linear-gradient(180deg, rgba(178, 223, 219, 0) 0%, #B2DFDB 100%), linear-gradient(180deg, rgba(17.36, 126.23, 113.63, 0.78) 0%, rgba(31.91, 118.09, 108.12, 0.78) 0%, rgba(0.15, 121.04, 107.06, 0.37) 100%, rgba(0, 121, 107, 0.49) 100%)">
    <div class="NewAccount" style="width: 1288px; height: 954px; left: 76px; top: 176px; position: absolute">
      <div class="Background" style="width: 1288px; height: 954px; left: 0px; top: 0px; position: absolute; background: rgba(255, 255, 255, 0.60); border: 6px #BDBDBD solid"></div>
      <div class="ValidationButton" style="width: 257.46px; height: 75.16px; left: 504px; top: 857px; position: absolute">
        <div class="Rectangle5" style="width: 257.46px; height: 70.07px; left: 0px; top: 2.55px; position: absolute; background: #009688; border-radius: 10px; border: 3px #00796B solid"></div>
        <div class="Valider" style="width: 167.76px; height: 75.16px; left: 44.85px; top: 18px; position: absolute; text-align: center; color: white; font-size: 35px; font-family: Jaldi; font-weight: 400; word-wrap: break-word">Valider</div>
      </div>
      <div class="PasswordConfirmation" style="width: 839.28px; height: 67px; left: 222.51px; top: 751px; position: absolute">
        <div class="Rectangle5" style="width: 839.28px; height: 66.68px; left: 0px; top: 0px; position: absolute; background: #EDEDED; border-radius: 10px; border: 3px #BDBDBD solid"></div>
        <div class="ConfirmerLeMotDePasse" style="width: 411.45px; height: 66.68px; left: 20.21px; top:15px; position: absolute; color: #757575; font-size: 30px; font-family: Jaldi; font-weight: 400; word-wrap: break-word">Confirmer le mot de passe</div>
        <div class="Frame" style="width: 52.63px; height: 56px; left: 779.26px; top: 5px; position: absolute">
          <img class="Eye" src="../images/eye.svg"style="width: 41.85px; height: 42px; left: 5.39px; top: 7px; position: absolute"></img>
        </div>
      </div>
      <div class="Password" style="width: 839.28px; height: 67px; left: 222.51px; top: 634px; position: absolute">
        <div class="Rectangle5" style="width: 839.28px; height: 66.68px; left: 0px; top: 0px; position: absolute; background: #EDEDED; border-radius: 10px; border: 3px #BDBDBD solid"></div>
        <div class="MotDePasse" style="width: 411.45px; height: 66.68px; left: 20.21px; top: 15px; position: absolute; color: #757575; font-size: 30px; font-family: Jaldi; font-weight: 400; word-wrap: break-word">Mot de passe</div>
        <div class="Frame" style="width: 52.63px; height: 56px; left: 779.26px; top: 5px; position: absolute">
          <img class="Eye" src="../images/eye.svg"style="width: 41.85px; height: 42px; left: 5.39px; top: 7px; position: absolute"></img>
        </div>
      </div>
      <div class="PhoneNumber" style="width: 839.28px; height: 67px; left: 222.51px; top: 517px; position: absolute">
        <div class="Rectangle5" style="width: 839.28px; height: 66.68px; left: 0px; top: 0px; position: absolute; background: #EDEDED; border-radius: 10px; border: 3px #BDBDBD solid"></div>
        <div class="Telephone" style="width: 411.45px; height: 66.68px; left: 20.21px; top: 15px; position: absolute; color: #757575; font-size: 30px; font-family: Jaldi; font-weight: 400; word-wrap: break-word">Téléphone</div>
      </div>
      <div class="Email" style="width: 840.20px; height: 67px; left: 222.51px; top: 400px; position: absolute">
        <div class="Rectangle5" style="width: 840.20px; height: 66.51px; left: 0px; top: 0.12px; position: absolute; background: #EDEDED; border-radius: 10px; border: 3px #BDBDBD solid"></div>
        <div class="Email" style="width: 138.48px; height: 67px; left: 20.23px; top: 15px; position: absolute; color: #757575; font-size: 30px; font-family: Jaldi; font-weight: 400; word-wrap: break-word">E-mail</div>
      </div>
      <div class="CalendarNumber" style="width: 913.14px; height: 67px; left: 222.51px; top: 283px; position: absolute">
        <div class="Rectangle5" style="width: 840.20px; height: 66.51px; left: 0px; top: 0.12px; position: absolute; background: #EDEDED; border-radius: 10px; border: 3px #BDBDBD solid"></div>
        <div class="NumeroDeCalendrier" style="width: 819.89px; height: 67px; left: 20.31px; top: 15px; position: absolute; color: #757575; font-size: 30px; font-family: Jaldi; font-weight: 400; word-wrap: break-word">Numéro de calendrier</div>
        <div class="Frame" style="width: 59.09px; height: 64px; position: absolute">
          <img class="SvgrepoIconcarrier" src="../images/info.svg" style="width: 49.24px; height: 53.33px; left:850px; top: 5.33px; position: absolute">
        </div>
        
      </div>
      <div class="Prenom" style="width: 390.55px; height: 67px; left: 672.16px; top: 166px; position: absolute">
        <div class="Rectangle5" style="width: 390.55px; height: 66.63px; left: 0px; top: 0.12px; position: absolute; background: #EDEDED; border-radius: 10px; border: 3px #BDBDBD solid"></div>
        <div class="Prenom" style="width: 368.02px; height: 67px; left: 9.63px; top: 15px; position: absolute; color: #757575; font-size: 30px; font-family: Jaldi; font-weight: 400; word-wrap: break-word">Prénom</div>
      </div>
      <div class="Nom" style="width: 413.64px; height: 67px; left: 222.51px; top: 166px; position: absolute">
        <div class="Rectangle5" style="width: 413.64px; height: 66.51px; left: 0px; top: 0.12px; position: absolute; background: #EDEDED; border-radius: 10px; border: 3px #BDBDBD solid"></div>
        <div class="Nom" style="width: 68.18px; height: 67px; left: 9.96px; top: 15px; position: absolute; color: #757575; font-size: 30px; font-family: Jaldi; font-weight: 400; word-wrap: break-word">Nom</div>
      </div>
      <div class="CrerUnNouveauCompte" style="width: 714.03px; height: 118.90px; left: 287.33px; top: 55.57px; position: absolute; text-align: center; color: black; font-size: 40px; font-family: Jaldi; font-weight: 400; word-wrap: break-word">Créer un nouveau compte</div>
      <img class="Arrow1" style="width: 100px; height: 100px; left: 17.51px; top: 30px; position: absolute" src="../images/arrow.svg"></img>
    </div>

    <div class="HeaderNotLogged" style="width: 1440px; height: 112px; padding-left: 32px; padding-right: 32px; padding-top: 11px; padding-bottom: 11px; left: 0px; top: 0px; position: absolute; background: #B2DFDB; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
      <div class="CovoitUnistra" style="width: 234px; height: 91px; left: 603px; top: 11px; position: absolute; text-align: center; color: black; font-size: 38px; font-family: Kaushan Script; font-weight: 400; word-wrap: break-word">COVOIT’ UNISTRA</div>
    </div>

  </div>

</body>
</html>