<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="globals.css" />
        <link rel="stylesheet" href="../css/styleguide.css" />
        <link rel="stylesheet" href="../css/signuppage.css" />
    </head>
  <body>
    <div class="page-new-account">
      <div class="div">
        <div class="new-account">
          <div class="overlap">
            <div class="validation-button">
              <div class="overlap-group">
                <div class="rectangle"></div>
                <div class="text-wrapper">Valider</div>
              </div>
            </div>
            <div class="password">
              <div class="overlap-2">
                <p class="text-wrapper-2">Confirmer le mot de passe</p>
                <img class="frame" src="../images/eye.svg" />
              </div>
            </div>
            <div class="overlap-wrapper">
              <div class="overlap-2">
                <div class="text-wrapper-2">Mot de passe</div>
                <img class="frame" src="../images/eye.svg" />
              </div>
            </div>
            <div class="phone-number">
              <div class="overlap-2"><div class="text-wrapper-2">Téléphone</div></div>
            </div>
            <div class="e-mail">
              <div class="div-wrapper"><div class="text-wrapper-3">E-mail</div></div>
            </div>
            <div class="calendar-number">
              <div class="overlap-3"><div class="text-wrapper-4">Numéro de calendrier</div></div>
              <img class="img" src="../images/info.svg" />
            </div>
            <div class="overlap-4">
              <div class="prnom">
                <div class="overlap-5"><div class="text-wrapper-5">Prénom</div></div>
              </div>
              <div class="nom">
                <div class="overlap-6"><div class="text-wrapper-6">Nom</div></div>
              </div>
              <div class="text-wrapper-7">Créer un nouveau compte</div>
            </div>
            <img class="arrow" src="../images/arrow.svg" />
          </div>
        </div>
        <div class="header-not-logged"><div class="text-wrapper-8">COVOIT’ UNISTRA</div></div>
      </div>
    </div>
  </body>
</html>
