<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connexion</title>
  <link rel="stylesheet" href="../css/connexion.css" />
</head>
<body>
  <div class="PageConnection">
    <div class="Connection">
      <div class="Background"></div>
      <form class="Email">
        <input type="email" placeholder="E-mail" class="EmailInput">
        <div class="Line1"></div>
        <img class="EmailIcon" src="../images/email.svg" alt="Email Icon">
      </form>
      <form class="Password">
        <input type="password" placeholder="Mot de Passe" class="MotDePasseInput">
        <div class="Line2"></div>
        <img class="PasswordIcon" src="../images/password.svg" alt="Mot de passe">
      </form>
      <button class="InscriptionButton" type="submit">Inscription</button>
      <button class="ConnexionButton" type="submit">Connexion</button>
      <h1 class="BienvenueSurCovoitUnistra">Bienvenue sur Covoit’ Unistra !</h1>
    </div>

    <header class="HeaderNotLogged">
      <h1 class="CovoitUnistra">COVOIT’ UNISTRA</h1>
    </header>
    
 </div>
</body>
</html>
