<!DOCTYPE html>
<html>

<head>  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="../../css/popups.css" />
</head>


<div class="RequestPopUp">

    <h1>Demande de covoiturage</h1>

    <div class="Informations">
        <h2 class="text">Personne : </h2>
        <h2 class="text">Date :  </h2>   
        <h2 class="text">Heure :</h2> 
        <h2 class="text">Mail :</h2>    
        <h2 class="text">Téléphone :</h2>     
    </div>
  
    <div class="Rectangle Request">Envoyer <br/>une demande <br/>de covoiturage</div>
</div>
</html>