<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="../css/styleguide.css" />
    <link rel="stylesheet" href="../css/friendspage.css" />
  </head>
  <body>
    <div class="page-friends">
      <div class="div">
        <div class="overlap">
          <div class="text-wrapper">VOS AMIS</div>
          <img class="svg" src="../images/edit1.svg" />
        </div>
        <div class="ami">
          <div class="overlap-group"><div class="text-wrapper-2">Ami 3</div></div>
        </div>
        <div class="overlap-wrapper">
          <div class="overlap-group"><div class="text-wrapper-3">Ami 1</div></div>
        </div>
        <div class="nom-prenom">
          <div class="div-wrapper"><div class="text-wrapper-4">Nom Prénom</div></div>
        </div>
        <div class="overlap-group-wrapper">
          <div class="overlap-2"><div class="text-wrapper-5">Ami 2</div></div>
        </div>
        <div class="ami-2">
          <div class="overlap-3"><div class="text-wrapper-6">Ami 4</div></div>
        </div>
        <div class="ami-3">
          <div class="overlap-3"><div class="text-wrapper-7">Ami 6</div></div>
        </div>
        <div class="ami-4">
          <div class="overlap-3"><div class="ami-5">Ami 5</div></div>
        </div>
        <div class="ajouter-amis">
          <div class="overlap-4">
            <div class="group">
              <div class="overlap-group-2"><div class="text-wrapper-8">Ajouter des amis...</div></div>
            </div>
          </div>
        </div>
        <div class="header-logged-in">
          <img class="profileuser-svg" src="../images/profileuser.svg" />
          <div class="text-wrapper-9">Prénom NOM</div>
          <div class="text-wrapper-10">COVOIT’ UNISTRA</div>
          <img class="friends-svg" src="../images/friends.svg" />
        </div>
        <img class="minus-svg" src="../images/minus.svg" />
        <img class="plus-svg" src="../images/plus.svg" />
      </div>
    </div>
  </body>
</html>
