<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Home Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
        <link rel="stylesheet" href="../css/homepage.css" />
      </head>
  <body>
    <div class="HomePage">     
      <button class="RefreshButton" onclick="handleRefreshClick()">
        <img  src="../images/refresh.svg" alt="Refresh Icon">
      </button>
      <button class="CalendarButton" onclick="handleCalendarClick()">
        <img  src="../images/calendar.svg" alt="Calendar Icon">
      </button>
      <h1 class="Semaine">Semaine du 25 au 29 Avril 2024</h1>
      
      <div class="Lundi">
        <div class="LundiConcordance">
            <div class="Rectanglelundi"></div>        
            <div class="Ami2row">
                <button class="RequestButton1" onclick="handleRequest1Click()">
                    <img class="requesticon1" src="../images/request.svg" alt="Request 1 Button">
                </button>        
                <h2 class="Ami2">Ami2</h2>
                <div class="Rectangle7"></div>
            </div>
            <h2 class="debutlundi">17h30</h2>
            <h2 class="finlundi">8h30</h2>   
            <div class="Moirow">
                <div class="Rectangle6"></div>
                <h2 class="Moi">Moi</h2>
            </div>
            <button class="AddUserButton" onclick="handleButtonClick()">
                <img class="addusericon" src="../images/adduser.svg" alt="Vector Image">
            </button>
            <div class="Ami1row">
                <div class="Rectangle4"></div>
                <h2 class="Ami1">Ami1</h2>
                <button class="RequestButton2" onclick="handleRequest1Click()">
                    <img class="requesticon2" src="../images/request.svg" alt="Request 1 Button">
                </button>          
            </div>   
        </div>
        <div class="DayLabel">
            <h1 class="lundilabel">LUNDI</h1>
        </div>     
    </div>

      <header class="HeaderLoggedIn">
        <button class="UserButton" onclick="handleUserClick()">
            <img class="User" src="../images/profileuser.svg">
        </button>
        <h2 class="PrenomNom">Prénom NOM</h2>            
        <button class="CovoitButton" onclick="handleCovoitClick()">
            <h2 class="CovoitUnistra">COVOIT’ UNISTRA</h2>
        </button>
        <button class="FriendsButton" onclick="handleFriendsClick()">
            <img class="Friends" src="../images/friends.svg">
        </button>
    </header>
     
    </div>
  </body>
</html>
