<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="css/connexion.css" />
  </head>
  <body>
    <div class="PageConnection" style="width: 1440px; height: 1024px; position: relative; background: linear-gradient(180deg, rgba(178, 223, 219, 0) 0%, #B2DFDB 100%), linear-gradient(180deg, rgba(17.36, 126.23, 113.63, 0.78) 0%, rgba(31.91, 118.09, 108.12, 0.78) 0%, rgba(0.15, 121.04, 107.06, 0.37) 100%, rgba(0, 121, 107, 0.49) 100%)">
      <div class="Connection" style="width: 901px; height: 685px; left: 303px; top: 219px; position: absolute">
        <div class="Background" style="width: 901px; height: 685px; left: 0px; top: 0px; position: absolute; background: rgba(255, 255, 255, 0.60); border: 6px #BDBDBD solid"></div>
        
        <form id="form" action='' method="POST">
          <input type="hidden" name="action_login_submit" value="login_submit">
          <input type="email" name='email' placeholder="E-mail" class="EmailInput" required>
          <div class="Line"></div>
          <img class="EmailIcon" src="images/email.svg">
          <input type="password" name="mdp" placeholder="Mot de passe" class="MotDePasseInput" required>
          <div class="Line"></div>
          <img class="PasswordIcon" src="images/password.svg">
          <input type="submit" value="Connexion" class="ConnexionButton">
        </form>

        <form  id="btnRegister" action="index.php" method="POST">
          <input type="hidden" name="action" value="register">
          <button type="submit" class="InscriptionButton" style="width: 205px; height: 72.40px; left: 355px; top: 550px; position: absolute; background: #009688; border-radius: 10px; border: 3px #00796B solid; text-align: center; color: white; font-size: 32px; font-family: Jaldi; font-weight: 400">Inscription</button>
        </form>

        <h1 class="BienvenueSurCovoitUnistra" style="width: 499.49px; height: 83.45px; left: 201px; top: 39px; position: absolute; text-align: center; color: black; font-size: 38px; font-family: Jaldi; font-weight: 400; word-wrap: break-word">Bienvenue sur Covoit’ Unistra !</h1>
      </div>



    </div>
  </body>
</html>
