<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

<div class="Parameters" style="width: 1440px; height: 1024px; position: relative; background: linear-gradient(180deg, rgba(178, 223, 219, 0) 0%, #B2DFDB 100%), linear-gradient(180deg, rgba(17.36, 126.23, 113.63, 0.78) 0%, rgba(31.91, 118.09, 108.12, 0.78) 0%, rgba(0.15, 121.04, 107.06, 0.37) 100%, rgba(0, 121, 107, 0.49) 100%)">
    <div class="Parameters" style="width: 1288px; height: 817px; left: 76px; top: 176px; position: absolute">
      <div class="Background" style="width: 1288px; height: 817px; left: 0px; top: 0px; position: absolute; background: rgba(255, 255, 255, 0.60); border: 6px #BDBDBD solid"></div>
      
      <button class="ModifierInformationsPersonnelles" style="width: 844px; height: 77px; left: 370px; top: 174px; position: absolute; background: #B2DFDB; border: 3px #BDBDBD solid; text-align: left; color: black; font-size: 32px; font-family: Jaldi; font-weight: 400; word-wrap: break-word; line-height: 77px;">Modifier mes informations personnelles</button>
      <button class="HistoriqueAnnuel" style="width: 844px; height: 77px; left: 370px; top: 275px; position: absolute; background: #B2DFDB; border: 3px #BDBDBD solid; text-align: left; color: black; font-size: 32px; font-family: Jaldi; font-weight: 400; word-wrap: break-word; line-height: 77px;">Historique annuel</button>
      <button class="Tutoriel" style="width: 844px; height: 77px; left: 370px; top: 376px; position: absolute; background: #B2DFDB; border: 3px #BDBDBD solid; text-align: left; color: black; font-size: 32px; font-family: Jaldi; font-weight: 400; word-wrap: break-word; line-height: 77px;">Tutoriel</button>
      <button class="SupressionCompte" style="width: 844px; height: 77px; left: 370px; top: 716px; position: absolute; background: #B2DFDB; border: 3px #BDBDBD solid; text-align: left; color: #FF0000; font-size: 32px; font-family: Jaldi; font-weight: 400; word-wrap: break-word; line-height: 77px;">Supprimer mon compte</button>

      <div class="PersonalData" style="width: 325px; height: 684px; left: 18px; top: 109px; position: absolute">
        <div class="Background" style="width: 325px; height: 684px; left: 0px; top: 0px; position: absolute; background: #B2DFDB; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border: 3px #BDBDBD solid"></div>
        <div class="CalendarNumber" style="width: 183px; height: 124px; left: 37px; top: 535px; position: absolute">
          <p class="12451621" style="left: 0px; top: 35px; position: absolute; text-align: center; color: black; font-size: 30px; font-family: Jaldi; font-weight: 400; word-wrap: break-word">0123456789</p>
          <h2 class="numcal" style="left: 0px; top: -25px; position: absolute; text-align: left; color: black; font-size: 32px; font-family: Jaldi; font-weight: 400; line-height: 30px">Numéro Calendrier :</h2>
        </div>
        <div class="Telephone" style="width: 252px; height: 81px; left: 37px; top: 437px; position: absolute">
          <h2 class="telephone" style="left: 0px; top: -25px; position: absolute; text-align: center; color: black; font-size: 32px; font-family: Jaldi; font-weight: 400; word-wrap: break-word">Téléphone :</h2>
          <p class="nb" style="left: 0px; top: 15px; position: absolute; color: black; font-size: 27px; font-family: Jaldi; font-weight: 400; word-wrap: break-word">+33 X XX XX XX XX</p>
        </div>
        <div class="Mail" style="width: 252px; height: 81px; left: 37px; top: 356px; position: absolute">
          <h2 class="mail" style="left: 0px; top: -25px; position: absolute; text-align: center; color: black; font-size: 32px; font-family: Jaldi; font-weight: 400; word-wrap: break-word">Mail :</h2>
          <p class="unistramail" style="left: 0px; top: 0px; position: absolute; text-align: center; color: #1400FF; font-size: 32px; font-family: Jaldi; font-weight: 400; word-wrap: break-word">xxxxxx@unistra.fr</p>
        </div>
        <div class="PrenomNom" style="width: 227px; height: 98px; left: 49px; top: 248px; position: absolute; text-align: center; color: black; font-size: 35px; font-family: Jaldi; font-weight: 400; line-height: 50px; word-wrap: break-word">Prénom<br/>NOM</div>
        <img class="Photo" src="../images/profileuser.svg" style="width: 200px; height: 200px; left: 60px; top: 35px; position: absolute; border-radius: 9999px; box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25)">
      </div>

      <h1 class="Parametres" style="width: 714.03px; height: 118.90px; left: 287.33px; top: 0px; position: absolute; text-align: center; color: black; font-size: 40px; font-family: Jaldi; font-weight: 400; word-wrap: break-word">Paramètres</h1>
      <img class="Arrow" style="width: 100px; height: 100px; left: 17.51px; top: 5px; position: absolute" src="../images/arrow.svg"></img>
    
    </div>

      <header class="HeaderLoggedIn" style="width:1440px; height: 112px; padding-left: 32px; padding-right: 32px; padding-top: 11px; padding-bottom: 11px; left: 0px; top: 0px; position: absolute; background: #B2DFDB; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
          <img class="User" style="width: 74px; height: 74px; left: 1342px; top: 20px; position: absolute;" src="../images/profileuser.svg" />
          <h2 class="PrenomNom" style="left: 984px; top: 20px; position: absolute; color: #212121; font-size: 32px; font-family: Jaldi; font-weight: 400; word-wrap: break-word">Prénom NOM</h2>            
          <h2 class="CovoitUnistra" style="width: 234px; height: 102px; color: black; font-size: 38px; font-family: Kaushan Script; font-weight: 400; word-wrap: break-word; left: 20px; top: -5px; position: absolute;">COVOIT’ UNISTRA</h2>
          <img class="Friends" src="../images/friends.svg" style="width: 74px; height: 78px; left: 1233px; top: 18px; position: absolute;">
      </header>
  </div>
</body>
</html>