<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp Page</title>
    <link rel="stylesheet" href="../css/editdata.css">
</head>
<body>
    <div class="PersonalDataModification">
        <div class="Background"></div>
        <h1 class="EditInfos">Créer un Nouveau Compte</h1> 
        <img class="Arrow1" src="../images/arrow.svg"></img> 

     <form class="RegistrationForm">
        
        <div class="PassConfirmation">
            <input type="password" class="PassConfirmationInput" placeholder="Confirmer le mot de passe">
            <button type="submit">
                <img class="EyePassConf" src="../images/eye.svg">
            </button>
        </div>
        
        <div class="Password">
            <input type="password" class="PassInput" placeholder="Mot de passe">
            <button type="submit">
                <img class="EyePass" src="../images/eye.svg">
            </button>
        </div>
    
        <input class="Telephone" type="telephone" placeholder="Téléphone">          
        <input class="Email" type="email" placeholder="E-mail">
                  
        <div class="Calendar">
            <input class ="CalendarInput"  placeholder="Numéro de Calendrier">
            <button type="submit">
                <img class="Info" src="../images/info.svg">
            </button>
        </div>

        <input class="Prenom" type="prenom" placeholder="Prénom">          
        <input class="Nom" type="nom" placeholder="Nom">
        <button  type="submit" class="ValiderButton" >Valider</button>
    </form>      
    </div>

    <header class="HeaderNotLogged">
      <div class="CovoitUnistra" >COVOIT’ UNISTRA</div>
    </header>
  </div>

</body>
</html>